/* navbar */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}
.brand {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.site-header {
  position: relative;
  background-color: #000;
}

.site-header__start {
  display: flex;
  align-items: center;
}

.site-header__end {
  display: flex;
  align-items: center;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 800px) {
  .site-header__wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 800px) {
  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 799px) {
  .nav__wrapper {
    position: absolute;
    top: calc(100% + 35px);
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-70%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .nav__wrapper.active {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    
  }
}

.nav__item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav__item a {
  display: block;
  padding: 1rem;
  border-left: 4px solid transparent;
  color: #5068a9;
}
@media (min-width: 800px) {
  .nav__item a {
    text-align: center;
    border-left: 0;
    border-bottom: 4px solid transparent;
  }
}

.nav__item svg {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-right: 1rem;
}
@media (min-width: 800px) {
  .nav__item svg {
    display: block;
    margin: 0 auto 0.5rem;
  }
}
.nav__item.active a {
  border-left-color: white;
  color: white;
  stroke: white;
}
@media (min-width: 800px) {
  .nav__item.active a {
    border-bottom-color: white;
    stroke: white;
    fill: transparent;
  }
}
.nav__toggle {
  display: none;
}
@media (max-width: 799px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    fill: white;
    width: 20px;
    top: 1rem;
  }
}
.search {
  display: flex;
  margin-left: 1rem;
}

.search__toggle {
  appearance: none;
  order: 1;
  font-size: 0;
  width: 34px;
  height: 34px;
  background: url("../Assets/4.jpg") center right/22px no-repeat;
  display: none;
}
@media (min-width: 800px) {
  .search__toggle {
    border-left: 1px solid #979797;
    padding-left: 10px;
  }
}
@media (max-width: 799px) {
  .search__toggle {
    position: absolute;
    right: 5.5rem;
    top: 0.65rem;
    background: url("../Assets/4.jpg") center/22px no-repeat;
  }
}
.search__form {
  display: block;
}
.search__form.active {
  display: block;
}
@media (max-width: 799px) {
  .search__form {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
  }
  .search__form input {
    width: 100%;
  }
}
.search__form input {
  min-width: 200px;
  appearance: none;
  border: 0;
  background-color: #fff;
  border-radius: 0;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0.5rem;
}
@media (max-width: 799px) {
  .search__form input {
    border-bottom: 1px solid #979797;
  }
}
.inactive-item {
  opacity: 0;
}
